.container {
    padding: 72px 20px 96px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.description__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 40px;
}

.description__info--title {
    color: var(--gunmetal);
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: -1.6px;
}

.description__info--desc {
    color: var(--dark-electric-blue);
    text-align: center;
    font-size: 16px;
    line-height: 150%;
}

.description__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
    background: var(--pure-white, #FFF);
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
    padding: 24px;
}

.item__header {
    display: flex;
    gap: 16px;
    align-items: center;
}

.item__header--title {
    font-size: 20px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--gunmetal);
}

.item__info--desc {
    color: var(--dark-electric-blue);
    font-size: 16px;
    font-family: Inter;
    line-height: 150%;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .description__info {
        grid-column: 1/3;
    }

    .description__item {
        max-width: 335px;
    }

    .description__item:last-child {
        grid-column: 1/3;
        justify-self: center;
    }
}


@media (min-width: 993px) {
    .container {
        padding: 120px 140px;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
        max-width: 1440px;
    }

    .description__info {
        margin-bottom: 0;
        margin-right: 100px;
        max-width: 564px;
        align-items: flex-start;
    }


    .description__info--desc,
    .description__info--title {
        text-align: start;

    }

    .description__item {
        min-width: 365px;
    }

    .description__item:nth-child(2) {
        grid-column: 3/5;
    }

    .description__item:nth-child(3) {
        grid-column: 1/4;
        grid-row: 2/3;
        justify-self: center;
        margin-left: 50px;
    }

    .description__item:nth-child(4) {
        grid-column: 3/5;
        grid-row: 2/3;
        justify-self: center;

    }

    .description__item:nth-child(5) {
        grid-column: 1/3;
        justify-self: center;
        margin-left: 200px;

    }

    .description__item:nth-child(6) {
        grid-column: 3/5;
        justify-self: start;
    }



}