.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
    gap: 24px;
    position: relative;
}

.hero::after {
    background: linear-gradient(290.1deg, #D6E6FE 0%, rgba(214, 252, 254, 0) 100%);
    border-radius: 0px 0px 35px 35px;
    content: '';
    width: 100vw;
    max-width: 978px;
    height: 640px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.hero__nav {
    width: 40px;
    height: 40px;
}

.hero__nav>img {
    object-fit: contain;
}

.hero__content {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    gap: 48px;
}

.hero__headers {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hero__headers--title {
    font-weight: 600;
    font-size: 48px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.05em;
    color: var(--gunmetal);
}

.hero__headers--subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--dark-electric-blue);

}

@media (min-width: 768px) {
    .hero {
        display: flex;
        gap: 40px;
    }

    .hero__headers--title {
        max-width: 580px;
    }
}

@media (min-width: 993px) {
    .hero {
        padding: 74px 140px;
        align-items: flex-start;
        gap: 0;
    }

    .hero__nav {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 564px;
        align-self: flex-start;
    }

    .hero::after {
        max-width: 978px;
        max-height: 737px;
    }

    .hero__content {
        flex-direction: row;
        align-items: center;
    }

    .hero__headers {
        gap: 34px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hero__headers--title {
        text-align: start;
        font-size: 64px;
    }

    .hero__headers--subtitle {
        text-align: start;
        max-width: 465px;
    }

}