:root {
  --blue: #345FF6;
  --gunmetal: #253347;
  --dark-electric-blue: #5E6E85;
  --borders: #D8E2E7;
  --pure-white: #FFFFFF;

  --inter: 'Inter', sans-serif;

  --font-size-64: 4rem;
  --font-size-48: 3rem;
  --font-size-24: 1.5rem;
  --font-size-20: 1.25rem;
  --font-size-16: 1rem;
  --font-size-14: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--inter);
}